body {
	font-family: font114754;
	-webkit-font-smoothing:antialiased

}
p {
	text-align: center;
}

nav {
	background-color: #fff !important;
}


nav li > a {
	color: green !important;

}

.navbar-brand {
	color: green !important;

}



.border {
	width: 8%;
	background-color: green;
	height: 2px !important;

}

#home {
	position: relative;
	padding-top:310px;
	min-height: 600px !important;
	max-height:650px !important;
	background-color: #fff;
	font-size: 60px !important;
	font-weight: bold;
	/*letter-spacing: 1px;*/
	margin: auto;

}
.index-description {
	padding: 15px;
	font-size: 25px !important;



}

#about {
	position: relative;
	padding-top:350px;
	min-height: 600px !important;
	max-height:650px !important;
	background-color: #fff;
	font-size: 40px !important;
	margin: auto;
	
}

.background-img-desc {

}
.background-img {

}
.background-img > img {

}


.btn-about {

}
.btn-about:hover {
	background-color: #fff !important;
	border-color: green !important;

}