{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

		
    <head>
    	<title>Errands Kenya </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href=" {% static 'css/errands.css' %}">
        <link href="https://www.fontify.me/wf/a189b722f540d7fe441b3d8e40b37e4d" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

        <script src="{% static 'js/bootstrap.min.js' %}"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
             <!-- <br> -->
	</head>
	
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
	              <div class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </div>
              <a class="navbar-brand" href="#"> Tasker </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                	<li><a href="#Sign">Sign up</a></li>
	             	<li><a href="#resume"> Log in </a></li>
	              	<li><a href="#about">How it works</a></li>
	            </ul>
	        </div>
	       </div>
	    </nav>	

	    <div id="home" class="container-fluid">
	    	<div class="row">

		    	<p class=""> We Run Errands. <br> You Live Life. </p>
		    	<hr class="border">
				<p class="index-description"> from major errands to minor tasks, <br> we make you work seamless.</p>
			</div>
	    </div>

	    <div id="about" class="container-fluid bg-1">
	    	<div class="col-sm-8">	
		    	<div class="background-img">
		    		<img  src="{% static 'images/t.png' %}" style="width: 630px; height: auto;">
		    		<div class="background-img-desc">
			    		<h3 style=""> A Trusted Handy Man </h3>
			    		<p style="font-size: 16px; text-align: justify;"> We've got the tools, Now that you have time, hire handyman help for your errands </p>
			    		<hr class="border-grey" style="margin:auto;width:10%">
			    		<p> <a href="#" class=" btn btn-about"> Book Handyman </a></p>
			    	</div>
		    	</div>
		    </div>
		    <div class="col-sm-4">
		    	<div class="mktg-group__item" style="background-image: url(./static/images/t.png)">
		    		<div class="mktg-group__content">
						<h3 class="mktg-group__title highlighted-group__item-title">Run Your Errands</h3>
						<a class="btn btn-primary btn-small" href="#">Book Handyman</a>
					</div>		
zq,,qqqaqaa;lzssq.lq.q
		    </div>
		    	
	    </div>
			  
	</body>
</html>












